.cf::after 
{
    clear: both;
    display: block;
    content: "";
}

*
{
    box-sizing: border-box;
    font-size: 1em;
}

body,html
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $gray1;
}

h1
{
    font-size: 2em;
    margin: 0;
    color: $gray5;
}

.container
{
    margin: 0 10%;
    @media(max-width: $layout-breakpoint-middle)
    {
        margin: 0 5%;
        @media(max-width: $layout-breakpoint-small)
        {
            margin: 0;
        }
    }
}

.btn
{
    border-radius: 0.5em;
    padding: 0.5em;
    border: 0.15em solid $gray5;
    background-color: $gray4;
    color: $gray1;
    &:hover
    {
        background-color: $gray2;
        color: $gray5;
    }
}