$red: #ff0000;
$red1: #ff5159;
$red2: #ff889d;
$red3: #ffbcd9;

$green: #00ff00;
$green1: #00df75;
$green2: #00bb9d;
$green3: #0094a3;

$gray1: #e9e9e9;
$gray2: #a9a9a9;
$gray3: #949494;
$gray4: #808080;
$gray5: #3f3f3f;

$layout-breakpoint-small: 512px;
$layout-breakpoint-middle: 960px;