#app
{
    text-align: center;
    #ins_scielta
    {
        margin: 0;
        padding: 0;
        border: 0;
        float: inline-start;
        width: 20%;
        border-radius: 0 50% 50% 0;
        height: 1.5em;
        &:hover
        {
            border-left: 3px solid $gray4;
            border-bottom: 3px solid $gray4;
        }
    }
    
    #descr_scielta
    {
        margin: 0;
        padding: 0 0.5em;
        float: inline-start;
        width: 60%;
        height: 1.5em;
    }
    
    #left_side
    {
        margin: 0;
        padding: 0;
        float: inline-start;
        width: 20%;
        height: 1.5em;
        background-color: $gray2;
        border-bottom: 3px solid $gray4;
        border-radius: 50% 0 0 50%;
    }
}